<!DOCTYPE html>
<html>
    <head>

        <title><%= title %></title>

        <meta name="description" content="<%= description %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="/styles/tawe.min.css" />
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css" />

        <script src="/scripts/tawe.min.js"></script>

    </head>
    <body>


        <header>
            <h1><a href="#"><%= title %></a></h1>

            <div class="menu-icon" onclick="toggleMenu();">
                <a><i class="fa fa-bars"></i></a>
            </div>

            <div class="menu">

                <nav>
                    <ul>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Mobile</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="clear"></div>

        <section class="tawe-overview">
            <header>
                <h2>Make an instant video from a simple image</h2>
            </header>
            <div class="tawe-screen">
                <img src="/images/tawe-screen.png" alt="Make an instant video from a simple image" />
            </div>
            <p>
                <a href="#" class="button orange-button">Download Tawe for free</a>
                <br />
                Or <a href="#">buy the full version and get VideoScribe included</a>
            </p>
        </section>

        <div class="clear"></div>

        <section class="tawe-video">
            <i class="fa fa-angle-down"></i>
            <p class="tawe-description">Tawe is effortless. It transforms a humble image into a dazzling presentation or video. Perfect for explaining diagrams, sketches and doodled notes.</p>
            <hr />
            <header>
                <h2>How Tawe works</h2>
            </header>
            <div class="video-wrapper">
                <iframe src="http://sho.co/embed/16VID" allowfullscreen></iframe>
            </div>
            <p>
                <a href="#" class="button orange-button">Download Tawe for free</a>
                <br />
                Or <a href="#">buy the full version and get VideoScribe included</a>
            </p>
        </section>

        <div class="clear"></div>

        <section class="tawe-love">
            <header>
                <h2>
                    People just love Tawe
                </h2>
            </header>

            <div class="love-tawe-screen">
                <img src="/images/love-tawe-screen.png" alt="People just love Tawe" />
            </div>

            <ul>
                <% testimonials.forEach(function(testimonial) { %>
                    <li><i class="fa fa-quote-left quote"></i> <span class="testimonial"><%= testimonial.testimonial %></span> - <span class="name"><%= testimonial.name %></span></li>
                <% }); %>
            </ul>
        </section>

        <div class="clear"></div>

        <section class="tawe-community">
            <header>
                <h2>Join the Tawe community</h2>
            </header>
            <div class="social-media">
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
            <p>
                <a href="#" class="button orange-button">Download Tawe for free</a>
                <br />
                <a href="#">buy the full version and get VideoScribe included</a>
            </p>
        </section>


        <section class="tawe-unlock">
            <header>
                <h2>Love your free Tawe?</h2>
                <p>Buy the full version to unlock these great features</p>
            </header>

            <div class="love-item">
                <img src="/images/love-hd.png" alt="Publish HD video online" />
                <p>Publish online as HD video with voiceover</p>
            </div>

            <div class="love-item">
                <img src="/images/love-unlimited.png" alt="Create and store unlimited tawes" />
                <p>Create and store unlimited tawes</p>
            </div>

            <div class="love-item">
                <img src="/images/love-cloud.png" alt="Back up work to your online Sparkol account" />
                <p>Back up work to your online Sparkol account</p>
            </div>

            <div class="love-item">
                <img src="/images/love-sync.png" alt="Sync mobile projects with desktop tawes" />
                <p>Sync mobile projects with desktop tawes</p>
            </div>

            <div class="love-item">
                <img src="/images/love-save.png" alt="Save to file, for easy sharing and collaboration" />
                <p>Save to file, for easy sharing and collaboration</p>
            </div>

            <div class="love-item">
                <img src="/images/love-updates.png" alt="Download the latest software improvements" />
                <p>Download the latest software improvements</p>
            </div>

            <div class="love-item">
                <img src="/images/love-support.png" alt="Get help and advice from Sparkol support" />
                <p>Get help and advice from Sparkol support</p>
            </div>

            <div class="clear"></div>

            <p>
                <a href="#" class="button orange-button">Buy now</a>
                <br />
                <a href="#">and get VideoScribe for free</a>
                <br />
                (What is <a href="#">Video Scribe</a>? It's an app to create your own whiteboard-style animations, no design or technical know-how needed).
            </p>
        </section>

        <div class="clear"></div>

        <section class="tawe-mobile">

            <div class="tablet-image"><img src="/images/tablet-image.png" alt="Tawe tablet image" /></div>

            <p class="tawe-app-info">
                <span class="tawe-on-the-go">Want Tawe on the go?</span>
                <br />
                Tawe's also available as a free-to-download app for iPhone, iPad or Android. It has all the great features of the free desktop version - and it's just as fast.
                <br />
                <a href="#"><img src="/images/download-appstore.png" alt="Download the Tawe mobile app from the Apple Appstore" /></a>
                <a href="#"><img src="/images/download-googleplay.png" alt="Download the Tawe mobile app from Google Play" /></a>
            </p>

            <div class="mobile-image"><img src="/images/mobile-image.png" alt="Tawe mobile image" /></div>

        </section>

        <div class="clear"></div>

        <section class="tawe-sparkol">
            <header>
                <h2><img src="/images/sparkol-engage.png" alt="Sparkol - Engage your audience" /></h2>
            </header>

            <div class="subscription-apps">
                <div class="videoscribe-subscription">
                    <img src="/images/videoscribe-image.png" alt="VideoScribe logo" />
                    <br />
                    <span class="subscription-title">VideoScribe</span>
                    <p>Create your own whiteboard videos, fast</p>
                </div>

                <div class="plus"><i class="fa fa-plus"></i></div>

                <div class="tawe-subscription">
                    <img src="/images/tawe-image.png" "Tawe logo" />
                    <br />
                    <span class="subscription-title">Tawe</span>
                    <p>Transform visual ideas into video instantly</p>
                </div>
            </div>

            <div class="clear"></div>

            <p>
                <a href="#" class="button red-button">Get a Sparkol subscription</a>
                <br />
                And enjoy 2 video apps for the price of 1
            </p>
        </section>

        <div class="clear"></div>

        <section class="tawe-products">
            <div class="product-info">
                <div class="tawe-product">
                    <img src="" alt="" />
                    <br />
                    <span class="product-title">VideoScribe Anywhere</span>
                    <p>Mobile scribing magic</p>
                </div>

                <div class="tawe-product">
                    <img src="" alt="" />
                    <br />
                    <span class="product-title">Sparkol Blog</span>
                    <p>Let's get engaging</p>
                </div>

                <div class="tawe-product">
                    <img src="" alt="" />
                    <br />
                    <span class="product-title">Video Scribing</span>
                    <p>Free scribing ebook</p>
                </div>

                <div class="tawe-product">
                    <img src="" alt="" />
                    <br />
                    <span class="product-title">Animole</span>
                    <p>Find pro animators</p>
                </div>

                <div class="tawe-product">
                    <img src="" alt="" />
                    <br />
                    <span class="product-title">Tawe Mobile</span>
                    <p>Instant video tours</p>
                </div>

                <div class="tawe-product">
                    <img src="" alt="" />
                    <br />
                    <span class="product-title">SVG Studio</span>
                    <p>Royalty-free images</p>
                </div>

                <div class="tawe-product">
                    <img src="" alt="" />
                    <br />
                    <span class="product-title">Parafraze</span>
                    <p>Dynamic word videos</p>
                </div>
            </div>
        </section>

        <div class="clear"></div>

        <footer>
            <div class="social-media">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
            </div>
            <div class="sparkol-account-link">
                <a href="#">Sparkol Account</a>
            </div>
            <div class="contact-details">
                <p class="company-info">&copy; 2015 Sparkol Limited, registered in England and Wales, no 06762963</p>
                <address>Unit 2, Yeo Bank Business Park, Clevedon, BS21 6UW, UK</address>
                <p class="privacy"><a href="#">Privacy and cookies</a></p>
            </div>
        </footer>
    </body>
</html>
